---
import Layout from '../layouts/Page.astro';
---
<Layout>
  <h1>What's on your mind?</h1>
  <form action="https://formspree.io/rmparsley@gmail.com"
        method="POST">
      <label>Your Name</label>
      <input type="text" name="name">
      <label>Your Email</label>
      <input type="email" name="_replyto">
      <label>Message</label>
      <textarea name="message"></textarea>
      <input type="submit" value="Send">
  </form>
</Layout>
