---
import { getCollection } from "astro:content";
import PostLink from "@components/PostLink.astro";
import Layout from "@layouts/Page.astro";

const posts = (await getCollection("blog"))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 5);
---

<Layout title="Welcome!">
	<section>
		<h2>Recent Posts</h2>
		<ul>
			{
				posts.map((post) => (
					<li>
						<PostLink
							href={`/blog/${post.slug}/`}
							text={post.data.title}
							date={post.data.pubDate}
							description={post.data.description}
						/>
					</li>
				))
			}
		</ul>
	</section>
</Layout>
<style lang="scss">
	ul {
		list-style: none;
		padding: unset;
	}
	section > h2 {
		font-size: 1.25rem;
	}
</style>
