---
import FormattedDate from "./FormattedDate.astro";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
	text: string;
	date: Date;
	description: string;
};

const { text, href, date, description, ...props } = Astro.props;
---

<a href={href} {...props}>
	<h2>{text}</h2>
	<FormattedDate date={date} />
	<p>{description}</p>
</a>

<style lang="scss">
	a {
		text-decoration: none;
		display: inline-block;

		h2 {
			text-decoration: underline;
			margin-bottom: 0;
		}

		p {
			color: var(--nord6);
		}
	}
</style>
